<!DOCTYPE html>
<html lang="en-US">
	
<head>
	<meta charset="UTF-8">
	<title>Autumn</title>
	<style>
#header {
		background-color:red;
		color:black;
		text-align:center;
		padding:4px;
}
#nav {
		line-height:30px;
		background-color:#eeeeee;
		height:50px;
		float:center;
		padding:4px;	      
}
#section {
		float:center;
		padding:10px;
		text-align:center;
}
#footer {
		background-color:red;
		color:black;
		clear:both;
		text-align:center;
	 padding:4px;	 	 
}
</style>
</head>

<body>

<div id="header">
<h1>My First HTML project</h1>
</div>

<div id="nav" style="text-align:center;word-spacing:30px;">
<%= link_to 'Home', root_path %> |
<%= link_to 'About', about_path %> |
<%= link_to 'AlphaBlog', articles_path %>
</div>

<div id="section">
<h2>The Road less taken</h2>

 <%= image_tag 'autumnwallpaper.jpg', :style => "float:center;width:100%;height:100%;" %> 
<!-- Just for reference.. <img src="rails_projects/alpha-blog/app/assets/images/autumn_wallpaper.jpg" alt="Autumn Falls" style="float:left;width:300px;height:300px;"> -->
<p>London is the capital city of England. It is the most populous city in the United Kingdom,
with a metropolitan area of over 13 million inhabitants.</p>
<p>Standing on the River Thames, London has been a major settlement for two millennia,
its history going back to its founding by the Romans, who named it Londinium.</p>
</div>

<div id="footer">
Copyright © Lit Kean Chong 2016
</div>
</body>

</html>
